<!-- // hero-list.html -->

<!-- <p>
  This should show a list of all heroes in the system, displaying all the information from the entry captured in the view before.
  Each hero in the listing needs to be able to be deleted from the system in the event of their unfortunate demise.
</p>

Test Message: {{hlc.testMessage}} -->

<h1>Active Hero List</h1>

<table class="table table-hover">
  <thead>
    <th>Persona</th>
    <th>Alias</th>
    <th>Power ID</th>
    <th>Button</th>
  </thead>
  <tr ng-repeat="hero in hlc.heroes">
    <!-- <td>{{hero.persona}}</td>
    <td>{{hero.alias}}</td>
    <td>{{hero.power_id}}</td>
    <td><button ng-click="hlc.deleteHero(hero.id)">Delete</button></td> -->

    <td><span editable-text="hero.persona" onaftersave="hlc.newHero(hero)" >{{hero.persona || "Empty"}}</span></td>
    <td><span editable-text="hero.alias" onaftersave="hlc.newHero(hero)">{{hero.alias || "Empty"}}</span></td>
    <td><span editable-text="hero.power_id" onaftersave="hlc.newHero(hero)">{{hero.power_id || "Empty"}}</span></td>
    <td><button ng-click="hlc.deleteHero(hero.id)" class="btn btn-danger btn-xs">&times;</button></td>
  </tr>
</table>
